// Header
.header{
    height: 100px;

    &_admin{
        box-shadow: 0 1px 7px rgba(1, 1, 1, 0.15);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        z-index: 99;
    }

    &__wrapper{
        padding: 0 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav{
        font-size: 15px;
        font-weight: bold;
        line-height: 15px;
        a{
            margin-right: 45px;
            color: $main;
        }
    }

    &__signin{
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            margin-bottom: 3px;
            font-weight: bold;
            font-size: 15px;
            line-height: 15px;
        }

        &_admin{
            span{
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
}

// Header