.signin{
    height: calc(100% - 170px);

    &__wrapper{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    &__block{
        max-width: 371px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .button{
        height: 47px;
    }

    &__title{
        color: $text;
        font-size: 22px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 29px;
    }

    .input__text{
        margin-bottom: 10px;
    }

    &__row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
        margin-top: 7px;
        width: 100%;
        span{

        }

        a{
            color: $main;
            font-family: Lato;
            font-size: 13px;
            font-weight: 400;
        }
    }

    .button{
        width: 100%;
        margin-bottom: 20px;
    }

    &__line{
        color: #888a8c;
        font-family: $Lato;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 24px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;

        &:after{
            content: "";
            width: 80%;
            position: relative;
            height: 1px;
            background: #eceeef;
            right: 0;
            display: flex;
        }

        &:before{
            content: "";
            width: 80%;
            position: relative;
            display: flex;
            height: 1px;
            left: 0;
            background: #eceeef;
        }
        span{
            width: 90%;
            text-align: center;
        }
    }
}