// main
@import 'settings';
@import 'libs';

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: $Montserrat;
  box-sizing: border-box;
  position: relative;
  *{
    box-sizing: border-box;
  }
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

// import files of blocks

@import "../../blocks/button/button";

@import "../../blocks/section/section";
@import "../../blocks/header/header";
@import "../../blocks/promo/promo";
@import "../../blocks/priority/priority";
@import "../../blocks/follow/follow";
@import "../../blocks/who/who";
@import "../../blocks/about/about";

// Admin
@import "../../blocks/jobs/jobs";
@import "../../blocks/sidebar/sidebar";




@import "../../blocks/footer/footer";






// @import "../../blocks/menu/menu";
// @import "../../blocks/nav/nav";
// @import "../../blocks/button/button";
// @import "../../blocks/breadcrumbs/breadcrumbs";
// @import "../../blocks/award/award";
// @import "../../blocks/certificate/certificate";
// @import "../../blocks/clients/clients";
// @import "../../blocks/footer/footer";



// importing media queries
@import "media";
