// main
@import 'settings';
@import 'libs';

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: $SP;
  box-sizing: border-box;
  position: relative;
  *{
    box-sizing: border-box;
  }
}


// import files of blocks [Basic]
@import "../../blocks/section/section";

// Index
@import "../../blocks/header/header";
@import "../../blocks/dict/dict";


// Footer :)
@import "../../blocks/footer/footer";




// importing media queries
@import "media";
