@import 'settings';


@media screen and (max-width: 1400px){
    .section__wrapper{
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }
    .dict__col{
        max-width: 360px;
    }
    .dict .block{
        max-width: 360px;
    }
    .dict__row{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1230px){
    .dict__col{
        max-width: 300px;
    }
    .dict .block{
        max-width: 300px;
    }
}

@media screen and (max-width: 1025px){
    
    .dict .block{
        max-width: 100%;
    }
    .dict__col{
        position: relative;
        left: auto !important;
        top: auto !important;
        width: 100%;
        max-width: 100%;

    }
    .dict__row{
        width: 100% !important;
        height: auto !important;
        flex-direction: column;
    }

    .pin{
        display: none;
    }
    .dict__transcript{
        height: auto !important;
    }

    .dict .textsize-pop{
        left: -95px;

        &:after{
            left: 75%;
        }
    }
}

@media screen and (max-width: 800px){
    
    .header__nav{
        display: none;
    }

    .burger-wrap{
        display: block;
    }

    .concordance__line{
        height: auto;
        padding: 7px 0;
        span{
            position: relative;
            text-align: center;

            b{
                position: relative;
                
                &:first-child{
                    right: auto;
                    top: auto;
                    margin-right: 5px;
                }

                &:last-child{
                    left: auto;
                    top: auto;
                    margin-left: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 460px){
    .burger-menu{
        width: 100%;
    }
    .dict .block{
        height: 205px;
    }

    .dict__title{
        width: 100%;
    }
    .dict__examples{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 360px){
   .section{
       padding-left: 10px;
       padding-right: 10px;
   }
}