@import 'settings';

@media screen and (max-width: 1742px){
    // Post
    .post__col{
        margin-right: 15px;

        &:last-child{
            margin-left: 15px;
            margin-right: 0;
        }
    }
    // 
  }
@media screen and (max-width: 1515px){
    // Jobs
    .jobs__item-controll{
        top: 13%;
        transition: all .5s ease;
    }
    // 
}

@media screen and (max-width: 1400px){
    // Sidebar
    .sidebar{
        transition: all .5s ease;
        left: -100%;
    }
    // 

    // Jobs
    .jobs{
        transition: all .5s ease;
        margin-left: 0;
    }
    .jobs__menu{
        display: block;
    }
    // 

    // Post
    .post{
        margin-left: 0;
    }
    //
}

@media screen and (max-width: 1250px){
    // Post
    .post__input{
       flex-direction: column-reverse;
       align-items: flex-start;
       span{
           margin-bottom: 4px;
           margin-left: 0;
       }
    }
    //    

    // Section
    .section__wrapper{
        margin-right: 20px;
        margin-left: 20px;
    }
    // 

    // Contact
    


}

@media screen and (max-width: 1170px){
    // Section
    .section{
        &__wrapper{
            width: 100%;
        }
    }
    // 

    // Header
    .header__wrapper{
        padding: 0 30px;
    }
    // 

    // Contact
    .contact__mail{
        top: 382px;
        right: 10px;

        div{
            font-size: 40px;
        }

        span{
            margin-top: 0;
            font-size: 17px;
        }
    }
    // 
}


@media screen and (max-width: 1050px){   
    // Jobs
    .jobs__item-statis{
        flex-wrap: wrap;
        margin-bottom: 5px;
    }

    .jobs__item-row{
        flex-wrap: wrap;
    }
    // 

    // Search
    .search__sidebar{
        max-width: 250px;
    }

    .search__item-row{
        flex-direction: column;
        margin-top: 10px;
    }

    .search__item-text{
        line-height: 20px;
    }
    // 
}


@media screen and (max-width: 800px){
    // Header
    .header__nav{
        display: none;
    }
    // 
    // Jobs
    .jobs__item{
        flex-direction: column;
    }
    .jobs__item-statis{
        margin-top: 20px;
    }
    //  
    
    // Sidebar Mob
    .sidebar-mob{
        display: flex;
    }
    // 

    // Post
    .post__row{
        flex-direction: column;
    }
    .post__col{
        margin: 0;
        margin-bottom: 20px;
        &:last-child{
            margin: 0;
        }
    }
    //
    // Section row
    .section__row{
        .jobs__menu{
            display: block;
        }
    }
    // 

    // Popup Apply for Job
    .apply__wrapper{
        max-width: 100%;
        margin: 0;
    }
    .apply__bottom{
        margin-bottom: 40px;
    }
    // 
}

@media screen and (max-width: 700px){
    // Contacts
    .contact__wrapper{
        flex-direction: column;
        padding-top: 0;
    }

    .contact__col{
        &:last-child{
            margin-top: 30px;
            margin-left: 0;
        }
    }
    // 

    
    // Search
    
    .search{
        &__wrapper{
            flex-direction: column;
            padding-top: 20px;

            .input__text{
                max-width: 100%;
            }
        }
        &__sidebar{
            max-width: 100%;
            margin-right: 0;
        }

        &__input{
            margin-bottom: 0;
        }

        &__top{
            margin-bottom: 25px;
        }

        &__col{
            display: none;
        }

        &__buttonrow{
            display: flex;
        }
        &__item-row{
            flex-direction: row;
        }
        .filter-show{
            display: block;
        }
    }
    // 
}

@media screen and (max-width: 600px){
    // Jobs
    .jobs__item-controll{
        display: flex;
        flex-direction: column;
        a{
            margin-right: 0;
        }
    }
    // 

    // Sidebar
    .sidebar{
        max-width: 100%;
    }
    // 

    // no jobs
    .jobs__not{
        i{
            font-size: 100px;
        }
        span{
            font-size: 35px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    // 

    // Search
    .search{
        &__item-row{
            flex-direction: column;
        }
        &__item-info{
            padding-top: 0;
        }
    }
}
@media screen and (max-width: 500px){
    // Contacts

    // 

    // Footer
    .footer{
        &__left{
            flex-direction: column;
            .line{
                display: none;
            }
        }
    }
    // 

    // Detail Job
    .detail__top{
        flex-direction: column;
        align-items: flex-start;
    }

    .detail__name{
        margin-left: 0;
        margin-top: 24px;
    }

    .detail__type{
        margin-bottom: 7px;
    }
    // 

    // Popup Apply for job
    .apply__button{
        flex-direction: column;
        align-items: flex-start;
    }

    .apply__descr{
        padding-left: 0;
        margin-top: 10px;
    }
    // 
}

@media screen and (max-width: 400px){
    // Jobs
    .jobs{
        padding-left: 30px;
        padding-right: 30px;
    }

    // 

    // Detail Job
    .detail__body{
        margin-top: 35px;
    }

    .detail__wrapper{
        margin-top: 40px;
    }

    .detail{
        .button{
            width: 100%;
        }
    }
    // 
    // Section
    .section__title{
        font-size: 22px;
    }
    // 

    // Contacts
    .contact__mail{
        top: 395px;
    }
    //  

    // no jobs
    .jobs__not{
        
        span{
            font-size: 25px;
            margin-top: 15px;
            margin-bottom: 17px;
        }

        .button{
            width: 189px;
            height: 47px;

        }
    }
    // 
    
    // Post
    .post{
        padding-left: 20px;
        padding-right: 20px;
    }

    .post__upload span{
        margin-top: 10px;
    }
    //

    // Sidebar Mob
    .section__row{
        .jobs__menu{
            top: 223px;
        }
    }
    // 

     // Popup Apply for job
     .apply__button{
        .file__label{
            max-width: 100%
        }
    }
    // 

    // Signin
    .signin{
        &__title{
            line-height: 1.3;
        }

        &__block{
            margin: 20px 0;
        }
    }
    // 

    // Header
    .header__wrapper{
        margin-left: 0;
        margin-right: 0;
    }
    // 
}

// // By height
@media screen and (max-height: 850px){
    // Apply for Job (Modal)

    .apply__wrapper{
        height: 100%;
        overflow-y: auto;
        padding-top: 30px;
    }
}