// Input text
.input__text{
    border: 1px solid #c9cbcd;
    background-color: #ffffff;
    color: $text;
    font-size: 15px;
    line-height: 15px;
    height: 40px;
    border-radius: 5px;
    text-indent: 15px;
    font-weight: 400;
    outline: none;
    margin-bottom: 29px;
    max-width: 371px;
    width: 100%;
    &:placeholder{
        color: #999fa2;
        font-family: Lato;
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
    }

    &:active, &:focus{
      border-color: $main;
    }
}
// 

// Select

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #999fa2;
    width: 100%;
    max-width: 371px;
    height: 40px;
    margin-bottom: 29px;
  }
  .select-styled {
    border: 1px solid #c9cbcd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 8px 15px;
    transition: all 0.2s ease-in;

    &:after {
      content:"";
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #999fa2 transparent transparent transparent;
      position: absolute;
      top: 16px;
      right: 10px;
    }
    &:hover {
      background-color: darken(white, 1);
    }
    &:active, &.active {
      
      &:after {
        top: 9px;
        border-color: transparent transparent #999fa2 transparent;
      }
    }
  }
  
  .select-options {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white;
    li {
      margin: 0;
      padding: 12px 0;
      color: $text;
      text-indent: 15px;
        border: 1px solid #c9cbcd;
     border-top: none;
      transition: all 0.15s ease-in;
      &:hover {
        background: darken(white, 1);

      }
      &[rel="hide"] {
        display: none;
      }
    }
  }
  // 

  // Textarea
  .textarea{
    border: 1px solid #c9cbcd;
    text-indent: 13px;
    font-family: $Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    outline: none;
    padding-top: 18px;
    color: $text;
    border-radius: 5px;
    &:placeholder{
        color: #999fa2;

    }
  }
  // 
  
  // File upload
  .file{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .file__label{
    height: 48px;
    font-weight: 700;
    max-width: 180px;
    border-radius: 5px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main;
    border-color: $main;
    cursor: pointer;
    
    *{
      pointer-events: none;
    }
    &:focus, &:hover{
      background-color: #00aff0;
      border-color: #00aff0;
    }
  }
  // 

  // Spoiler

.spoiler{
  border: 1px solid #e3e5e7;
  padding: 20px 25px;
  color: #241f20;
  border-radius: 5px;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 35px;

  span{
      line-height: 1;
  }

 
  ul{
      margin: 0;
      padding: 0;
      list-style: none;

      li{
          font-weight: 400;
          padding: 15px 0;
          border-bottom: 1px solid #e3e5e7;

          &:last-child{
              border-bottom: 1px solid transparent;
          }
      }
  }
  &__title{
      position: relative;
      width: 100%;
      cursor: pointer;
      &:after{
          font-family: "Font Awesome 5 Free";
          content: "\f0d7";
          position: absolute;
          right: -5px;
          top: 50%;
          font-size: 15px;
          margin-top: -8px; 
      }

      &-active{
          &:after{
              transform: rotate(180deg);
          }
  
      }
  }

  &__body{
      margin-top: 28px;
      display: none;
  }
}

// Checkbox
.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $Lato;
  font-size: 13px;
  color: $text;
  padding-left: 21px;
  font-weight: 400;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 11px;
  width: 11px;
  border: 1px solid #888a8c;
  border-radius: 2px;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  border-color: $main;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 4px;
  top: -5px;
  width: 3px;
  height: 9px;
  border: solid $main;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 99;
}