// Contac
.contact{
    &__wrapper{
        display: flex;
        padding-top: 81px;
        position: relative;
    }
    &__col{
        display: flex;
        flex-direction: column;
        position: relative;

        &:last-child{
            margin-left: 28px;
            justify-content: flex-end;
            padding-bottom: 53px;

        }
    }

    &__mail{
        position: absolute;
        display: flex;
        align-items: center;
        top: 170px;
        right: 45px;
        flex-direction: column;
        transition: all 0.5s ease;
        color: $text;

        div{
            color: #509ee2;
            font-size: 57px;
            font-weight: 400;
        }
        span{
            margin-top: 10px;
            color: $text;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
        }
    }

    &__title{
        color: $main;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
    }

    &__subtitle{
        color: #6b6d6e;
        font-family: $Lato;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 29px;
    }
    .button{
        margin-top: 28px;
        max-width: 203px;
    }
    
    &__question{
        color: $text;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 6px;
        line-height: 1;
    }

    &__answer{
        margin: 0;
        color: #6b6d6e;
        font-family: $Lato;
        font-size: 18px;
        line-height: 1;
        font-weight: 400;
        margin-bottom: 25px;
    }
}
// Contact End