// About
.about{
    &__wrapper{
        padding-top: 106px;
        padding-bottom: 237px;
        display: flex;
        flex-direction: column;
        position: relative;
        &:after{
            content: "";
            width: 688px;
            height: 691px;
            background: url("../img/layer_3.png") no-repeat;
            position: absolute;
            top: 50%;
            margin-top: -444px;
            right: -100px;
        }
    }

    &__block{
        display: flex;
        flex-direction: column;
        max-width: 578px;

    }

    &__title{
        color: #2b2b2b;
        font-size: 24px;
        font-weight: 700;
        line-height: 15px;
        margin-bottom: 35px;
        b{
            color: #509ee2;
            font-size: 48px;
        }
    }

    p{  
        margin: 0;
        padding: 0;
        color: #6b6d6e;
        font-family: $Lato;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 21px;
    }
}
// 