// Search
.search{
    &__wrapper{
        display: flex;
        padding-top: 75px;
        padding-bottom: 100px;

    }

    &__sidebar{
        max-width: 356px;
        width: 100%;
        position: relative;
        margin-right: 44px;
        display: flex;
        flex-direction: column;
        padding-top: 18px;
    }

    &__input{
        position: relative;
        margin-bottom: 35px;
        width: 100%;
        .input__text{
            margin-bottom: 0;
            text-indent: 25px;
            height: 59px;
        }
    }

    &__button{
        position: absolute;
        right: 13px;
        cursor: pointer;
        top: 50%;
        margin-top: -9px;
        border: none;
        background: transparent;
        font-size: 15px;
        color: #bababa;
        outline: none;
        &:hover{
            transition: 0.5s ease;
            color: $text;
        }
    }

    &__top{
        display: flex;
        width: 100%;
        align-items: center;
        .fa-sliders-h{
            font-size: 25px;
            margin-left: 15px;
            color: #bababa;
        }
    }

    .filter-show{
        display: none;
    }

    &__buttonrow{
        display: none;
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;
        .button{
            &_blue{
                width: 100px;
                margin-right: 15px;
            }
            width: 150px;
        }
    }

    &__results{
        width: 100%;
    }

    &__item{
        width: 100%;
        position: relative;
        padding-bottom: 17px;
        margin-bottom: 17px;
        display: flex;
        width: 100%;
        border-bottom: 1px solid #e3e5e7;
        justify-content: space-between;
        &-logo{
            width: 78px;
            height: 78px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ebecee;
            border-radius: 5px;
            color: $main;
        }
        &-title{
            color: $main;
            font-size: 18px;
            font-weight: 700;
            line-height: 20.88px;
        }

        &-info{
            padding-top: 17px;
            display: flex;
            flex-direction: column;

        }

        &-row{
            display: flex;
        }

        &-text{
            color: $text;
            font-family: $Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 33.4px;
            display: flex;
            align-items: center;
            margin-right: 50px;

            &:last-child{
                margin-right: 0;
            }
            div{
                margin-top: 3px;
                margin-right: 7px;
            }
        }
    }
}
// 
