.jobs{
    padding: 0 67px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 351px;
    padding-bottom: 100px;
    transition: all 0.5s ease;

    &_no{
        height: 100%;
    }
    &__not{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        i{
            color: #495057;
            font-size: 150px;
            font-weight: 400;
        }

        span{
            margin-top: 90px;
            color: #495057;
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 30px;
            text-align: center;
        }
        .button{
            font-size: 15px;
            font-weight: 700;
            line-height: 15px;
            width: 203px;
            height: 53px;
            background: transparent;

            &:active{
                background: #00aff0;
            }
        }
    }
    &__menu{
        position: fixed;
        top: 200px;
        cursor: pointer;
        left: 15px;
        z-index: 100;
        font-size: 27px;
        transition: all 0.5s ease;
        display: none;
    }
    &__item{
        position: relative;
        padding: 35px 0;
        display: flex;
        width: 100%;
        border-bottom: 1px solid #e3e5e7;

        &-logo{
            width: 110px;
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 38px;
            border: 1px solid #ebecee;
            border-radius: 5px;
            color: $main;
        }
        &-title{
            color: $main;
            font-size: 25px;
            font-weight: 700;
            line-height: 20.88px;
        }

        &-info{
            padding-top: 25px;
            display: flex;
            flex-direction: column;

        }

        &-row{
            display: flex;
        }

        &-text{
            color: $text;
            font-family: $Lato;
            font-size: 19px;
            font-weight: 400;
            line-height: 33.4px;
            display: flex;
            align-items: center;
            margin-right: 50px;

            &:last-child{
                margin-right: 0;
            }
            div{
                margin-top: 3px;
                margin-right: 7px;
            }
        }

        &-statis{
            display: flex;
            margin-top: 55px;
        }

        &-stat{
            color: $text;
            font-family: $Lato;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 44px;

            &:last-child{
                margin-right: 0;
            }

            a{
                color: #509ee2;
                font-weight: bold;
                margin-left: 3px;
            }

            .active{
                color: $active;
                font-weight: 700;
                margin-left: 3px;
            }
        }

        &-controll{
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -10px;
            a{
                margin-right: 40px;

                &:last-child{
                    margin-right: 0;
                }

                &:hover{
                    text-decoration: none;
                }

                
            }

            i{
                margin-right: 11px;
            }

            .pause{
                color: $pause;
            }

            .edit{
                color: $active;
            }

            .delete{
                color: $delete;
            }
        }

        
    }
}