.jobs{
    padding: 0 67px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__item{
        position: relative;
        padding: 35px 0;
        display: flex;
        width: 100%;
        border-bottom: 1px solid #e3e5e7;

        &-logo{
            width: 110px;
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 38px;
            border: 1px solid #ebecee;
            border-radius: 5px;
        }
        &-title{
            color: $main;
            font-size: 25px;
            font-weight: 700;
            line-height: 20.88px;
        }

        &-info{
            padding-top: 25px;
            display: flex;
            flex-direction: column;

        }

        &-row{
            display: flex;
        }

        &-text{
            color: $text;
            font-family: $Lato;
            font-size: 19px;
            font-weight: 400;
            line-height: 33.4px;
            display: flex;
            align-items: center;
            margin-right: 50px;

            &:last-child{
                margin-right: 0;
            }
            div{
                margin-top: 3px;
                margin-right: 7px;
            }
        }

        &-statis{
            display: flex;
            margin-top: 55px;
        }

        &-stat{
            color: $text;
            font-family: $Lato;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 44px;

            &:last-child{
                margin-right: 0;
            }

            a{
                color: #509ee2;
                font-weight: bold;
                margin-left: 3px;
            }

            .active{
                color: $active;
                font-weight: 700;
                margin-left: 3px;
            }
        }

        &-controll{
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -10px;
            a{
                margin-right: 40px;

                &:last-child{
                    margin-right: 0;
                }

                &:hover{
                    text-decoration: none;
                }

                
            }

            i{
                margin-right: 11px;
            }

            .pause{
                color: $pause;
            }

            .edit{
                color: $active;
            }

            .delete{
                color: $delete;
            }
        }

        
    }
}