.follow{
    
    &__wrapper{
        display: flex;
        padding-top: 200px;
        justify-content: flex-end;
        padding-bottom: 200px;
    }

    &__block{
        max-width: 566px;
        position: relative;
        &:before{
            content: "";
            width: 655px;
            height: 693px;
            background: url("../img/follow-bg.png") no-repeat;
            position: absolute;
            top: -106px;
            left: -729px;
        }
    }
    &__title{
        color: #000000;
        font-size: 28px;
        font-weight: 700;
        line-height: 15px;
    }

    &__description{
        color: #010101;
        font-family: $Lato;
        font-size: 17px;
        font-weight: 400;
        line-height: 26px;
    }

    &__bottom{
        display: flex;
        margin-top: 53px;
    }

    .button{
        width: 209px;
        margin-right: 39px;
        i{
            margin-right: 16px;
            font-size: 18px;
        }
    }

}