// Follow
.follow{  
    position: relative;
    margin-bottom: 40px;
    margin-top: 100px;
    &__wrapper{
        display: flex;
        padding-top: 200px;
        justify-content: flex-end;
        padding-bottom: 200px;
        &:after{
            content: "";
            width: 655px;
            height: 693px;
            background: url("../img/follow-bg.png") no-repeat;
            position: absolute;
            top: 106px;
            left: 140px;
        }
    }

    &__block{
        max-width: 500px;
        
    }
    &__title{
        color: #000000;
        font-size: 28px;
        font-weight: 700;
        line-height: 15px;
    }

    &__description{
        color: #010101;
        font-family: $Lato;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
    }

    &__bottom{
        display: flex;
        margin-top: 30px;
    }
    .section__title{
        font-size: 23px;
    }
    .button{
        width: 180px;
        margin-right: 39px;
        i{
            margin-right: 16px;
            font-size: 18px;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}

// Follow End