.who{
    position: relative;
    padding-bottom: 159px;
    margin-bottom: 40px;
    margin-top: 80px;
    &__wrapper{
        display: flex;
        padding-top: 204px;
        justify-content: flex-start;
        padding-bottom: 188px;

        &:after{
            content: "";
            width: 651px;
            height: 782px;
            background: url("../img/who-bg.png") no-repeat;
            position: absolute;
            top:0;
            right: 140px;
        }
    }

    &__block{
        max-width: 500px;
        
    }
    &__title{
        color: #000000;
        font-size: 28px;
        font-weight: 700;
        line-height: 15px;
    }

    &__description{
        color: #010101;
        font-family: $Lato;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
        margin-top: 15px;
        margin-bottom: 3px;
    }

    
        
        a{
            color: #00aff0;
            margin-top: 20px;
            display: flex;
            font-size: 15px;
            font-weight: 700;
            line-height: 15px;
        }
    
   

    .button{
        width: 209px;
        margin-right: 39px;
        i{
            margin-right: 16px;
            font-size: 18px;
        }
    }

}