.price{
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__col{
        
    }

    &__block{
        width: 371px;
        height: 463px;
        border: 1px solid #e3e5e7;
        display: flex;
        padding-top: 36px;
        padding-bottom: 33px;
        flex-direction: column;
        align-items: center;

        &_green{

        }

        &:hover{
            box-shadow: 0 2px 35px rgba(1, 1, 1, 0.07);
        }
    }

    &__type{
        color: $text;
        font-family: $Montserrat;
        font-size: 18px;
        font-weight: 700;
    }

    
    &__number{
        margin-top: 40px;
        margin-bottom: 47px;
        color: $text;
        font-family: $Montserrat;
        font-size: 75px;
        font-weight: 700;
    }

    &__info{
        color: #2b2b2b;
        font-family: $Lato;
        font-size: 14px;
        font-weight: 400;
        p{
            margin-bottom: 31px;
            margin-top: 0;
        }

        &_disabled{

        }
    }
}